@page "/"


@*
    This page serves as the index and home of the application.
    It contains the basic information about the app.
    Card component of Bootstrap is used for the structure of the contents.
*@

<PageTitle>Lucene Search Engine Service For Content Indexing</PageTitle>


<div class="card">
    <div class="card-header">
        Lucene Search Engine Service
    </div>
    <div class="card-body">
        <h5 class="card-title">Micro Frontend Service Using Blazor WASM</h5>
        <p class="card-text">Please choose indexing or searching of content from the menu.</p>
    </div>
</div>

